<div class="container">
    <div class="row">
        <div id="homeMessage">
            <div class="col-lg-12 text-center">
                <h1>Proof Of Concept</h1>
                <p class="lead">HTML5 with local persistence in IndexedDB and REST with NodeJS</p>
                <h4>
                    <a href="https://github.com/so-technology-watch/html5-indexeddb-nodejs">Github repository</a> |
                    <a href="https://github.com/so-technology-watch/html5-indexeddb-nodejs/wiki">Documentation</a> |
                    <a href="../ressources/TechPlan.pdf">Technological Plan</a> |
                    Connect to the api at: <span id="url">{{ message }}</span>
                </h4>
                <!-- Message displaying current synchronisation status -->
                <span id="dbStatusMessage">{{ url }}</span>
            </div>
        </div>
    </div>
</div>