<% include ../layout/templates/header %>
<% include ../layout/templates/navbar %>

<div class="container" id="entityList">
    <div class="panel panel-warning">
        <div class="panel-heading"><h2>Edit Car</h2></div>
        <div class="panel-body">
            <form id="carForm" v-on:submit.prevent="save">
                <div class="form-group">
                    <label for="inputCarMaker">Maker</label>
                    <input type="text" class="form-control" v-model="car.car_maker">
                </div>
                <div class="form-group">
                    <label for="inputCarModel">Model</label>
                    <input type="text" class="form-control" v-model="car.car_model">
                </div>
                <div class="form-group">
                    <label for="inputCarYear">Year</label>
                    <input type="date" class="form-control" v-model="car.car_year">
                </div>
                <div id="warningMessage" class="alert alert-danger" v-bind:style="'display:'+error.display">
                    {{ error.errorCode }} : {{ error.message }}
                </div>
                <input type="submit" id="saveCar" class="btn btn-warning" value="Update entity">
                <a href="../../car">
                    <button type="button" class="btn btn-info">Back to the list</button>
                </a>
            </form>
        </div>
    </div>
</div>

<script>
    formEditCar(<%= id %>);
</script>