<!-- Load Bootstrap CSS & Custom style -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/styles.css">

<!-- Load JQuery & Boostrap JS -->
<script src="js/libs/jquery-3.2.0.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>

<!-- Load Dexie.js -->
<script src="js/libs/dexie.js"></script>

<!-- Load VueJS -->
<script src="js/libs/vue.js"></script>

<!-- Load Client app modules -->
<script src="js/client/commons/indexedDb.js"></script>
<script src="js/client/commons/sqlite.js"></script>
<script src="js/client/commons/apiCommon.js"></script>

<div class="container" id="entityList">
    <h1>Car list</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Id</td>
            <td>Maker</td>
            <td>Model</td>
            <td>Year</td>
            <td>Driver</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in items">
            <td>{{item.id}}</td>
            <td>{{item.maker}}</td>
            <td>{{item.model}}</td>
            <td>{{item.year}}</td>
            <td>{{item.driver}}</td>
            <td>
                <a v-bind:href="'./car/edit/'+item.id">Edit</a>
                <a v-bind:href="'./car/delete/'+item.id">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="./car/new">
        <button type="button" class="btn btn-success">Create new entity</button>
    </a>
</div>

<script>
    pingServer(function (status, url) {
        if (status === 0) {
            var apiURL = url + '/api/car';
            displayEntityList(apiURL)
        }
        else {
            //NO CONNECTION TO REMOTE DATABASE
        }
    });

    function displayEntityList(apiURL) {
        new Vue({
            el: '#entityList',
            data: {
                currentBranch: 'dev',
                items: null
            },
            created: function () {
                this.fetchData();
            },
            methods: {
                fetchData: function () {
                    var self = this;
                    $.get(apiURL, function (data) {
                        self.items = data;
                    });
                }
            }
        });
    }
</script>