<!-- Form to add a Car -->
<div class="form-group">
    <form id="new-car-form" method="POST" action="#">
        <label for="new-car-form">Add a car</label>
        <input class="form-control" type="text" id="new-car-maker" placeholder="Enter car maker..."
               required>
        <input class="form-control" type="text" id="new-car-model" placeholder="Enter car model..."
               required>
        <input class="form-control" type="text" id="new-car-year" placeholder="Enter car year..." required>
        <input class="form-control" type="text" id="new-car-driver" placeholder="Enter car driver..."
               required>
        <input type="submit" id="saveCar" value="Add">
    </form>
</div>