<% include ../layout/templates/header %>
<% include ../layout/templates/navbar %>

<div class="container" id="entityList">
    <div id="carPanel" class="panel panel-info">
        <div class="panel-heading"><h2>Car details </h2></div>
        <div class="panel-body">
            <div class="well">
                <ul>
                    <li>Car Maker : {{ car.car_maker }}</li>
                    <li>Car Model : {{ car.car_model }}</li>
                    <li>Car Year : {{ car.car_year }}</li>
                </ul>
            </div>
            <a v-bind:href="'../../car/edit/'+car.car_id">
                <button type="button" class="btn btn-info">Edit</button>
            </a>
            <a href="'../../../../car/">
                <button type="button" class="btn btn-info">Back to the list</button>
            </a>
        </div>
    </div>
</div>

<script>
    showCar(<%= id %>);
</script>