<% include ../layout/templates/header %>
<% include ../layout/templates/navbar %>
<% include ../layout/content/homeMessage %>

<div class="container" id="entityList">
    <div class="panel panel-info">
        <div class="panel-heading"><h2>Car {{items.id}} details </h2></div>
        <div class="panel-body">
            <div class="well">
                <ul>
                    <li>Car Maker : {{items.maker}}</li>
                    <li>Car Model : {{items.model}}</li>
                    <li>Car Year : {{items.year}}</li>
                    <li>Car Driver : {{items.driver}}</li>
                </ul>
            </div>
            <a v-bind:href="'../../'+entityType">
                <button type="button" class="btn btn-info">Back to the list</button>
            </a>
        </div>
    </div>

</div>


<script>
    var entityType = 'car';
    fetchOne(entityType, <%= id %>);
</script>

<% include ../layout/templates/footer %>