<% include ../layout/templates/header %>
<% include ../layout/templates/navbar %>

<div class="container" id="entityList">
    <div class="panel panel-warning">
        <div class="panel-heading"><h2>Edit Driver</h2></div>
        <div class="panel-body">
            <form id="driverForm" v-on:submit.prevent="save">
                <div class="form-group">
                    <label for="inputDriverFirstName">First name</label>
                    <input type="text" class="form-control" v-model="driver.driver_firstName">
                </div>
                <div class="form-group">
                    <label for="inputDriverLastName">Last name</label>
                    <input type="text" class="form-control" v-model="driver.driver_lastName">
                </div>
                <div class="form-group">
                    <label for="inputDriverCar">Car</label>
                    <input type="text" class="form-control" v-model="driver.driver_car">
                </div>
                <div id="warningMessage" class="alert alert-danger">
                    {{ error.errorCode }} : {{ error.message }}
                </div>
                <input type="submit" id="saveDriver" class="btn btn-warning" value="Update entity">
                <a href="../../driver">
                    <button type="button" class="btn btn-info">Back to the list</button>
                </a>
            </form>
        </div>
    </div>
</div>

<script>
    formEditDriver(<%= id %>);
</script>