<!-- Form to add a Driver -->
<div class="form-group">
    <form id="new-driver-form" method="POST" action="#">
        <label for="new-driver-form">Add a driver</label>
        <input class="form-control" type="text" id="new-driver-lastname"
               placeholder="Enter driver lastname..." required>
        <input class="form-control" type="text" id="new-driver-firstname"
               placeholder="Enter driver firstname..." required>
        <input class="form-control" type="text" id="new-driver-car" placeholder="Enter driver car..."
               required>
        <input type="submit" id="saveDriver" value="Add">
    </form>
</div>