<% include ../layout/templates/header %>
<% include ../layout/templates/navbar %>

<div class="container" id="entityList">
    <div id="driverPanel" class="panel panel-info">
        <div class="panel-heading"><h2>Driver details</h2></div>
        <div class="panel-body">
            <div class="well">
                <ul>
                    <li>Driver First Name : {{driver.driver_firstName}}</li>
                    <li>Driver Last Name : {{driver.driver_lastName}}</li>
                    <li>Driver Car : {{driver.driver_car}}</li>
                </ul>
            </div>
            <a v-bind:href="'../../driver/edit/'+driver.driver_id">
                <button type="button" class="btn btn-info">Edit</button>
            </a>
            <a href="'../../../../driver/">
                <button type="button" class="btn btn-info">Back to the list</button>
            </a>
        </div>
    </div>

</div>


<script>
    showDriver(<%= id %>);
</script>