<!-- Navigation Bar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../"><span class="glyphicon glyphicon-home"></span></a>
        </div>
        <ul class="nav navbar-nav">
            <li id="li0"><a id="linkHome" href="../../">Home</a></li>
            <li id="li1"><a id="linkCars" href="../../car">Cars</a></li>
            <li id="li2"><a id="linkDrivers" href="../../driver">Drivers</a></li>
        </ul>
    </div>
</nav>